<?xml version="1.0"  encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangj.springcloud.dao.mybatis.UserMapper">


	<resultMap id="baseResultMap" type="com.tangj.springcloud.entity.UserDTO">
		<id property="id" jdbcType="BIGINT" javaType="Long" column="id" />
		<result property="userName" jdbcType="VARCHAR" javaType="String" column="user_name" />
		<result property="passWord" jdbcType="VARCHAR" javaType="String" column="pass_word" />
		<result property="email" jdbcType="VARCHAR" javaType="String" column="email" />
		<result property="nickName" jdbcType="VARCHAR" javaType="String" column="nick_name" />
		<result property="regTime" jdbcType="TIMESTAMP" javaType="java.util.Date" column="reg_time" />
	</resultMap>


	<sql id="sql_baseField">
		id, user_name, pass_word, email, nick_name, reg_time
	</sql>
	<sql id="sql_baseField2">
		user_name, pass_word, email, nick_name, reg_time
	</sql>

	<select id="findAll" resultMap="baseResultMap">
		select
		<include refid="sql_baseField" />
		from user
	</select>

	<select id="getUserAll" resultMap="baseResultMap">
		select
		<include refid="sql_baseField" />
		from user
	</select>
	
	<select id="findByUserName" resultMap="baseResultMap">
		select
		<include refid="sql_baseField" />
		from user 
		where user_name = #{userName}
	</select>

	<insert id="save" parameterType="com.tangj.springcloud.entity.UserDTO" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO user (user_name, pass_word) VALUES (#{user.userName}, #{user.passWord})
	</insert>

</mapper>